/* Global Variables */
:root {
  --primary-color: #3498db;
  --secondary-color: gold;
  --background-light: #f4f4f4;
  --text-dark: #333;
  --text-light: #fff;
  --text-muted: rgba(50, 50, 50, 0.9);
  --success-color: #2ecc71;
  --success-hover: #27ae60;
  --danger-color: #e74c3c;
  --danger-hover: #c0392b;
  --info-color: #3498db;
  --link-hover: gold;
}

/* Global */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-light);
  color: var(--text-dark);
}

/* Header */
header {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--text-light);
  padding: 2rem;
  margin-bottom: 2rem;
  border-bottom: 5px solid var(--secondary-color);
}

header h1 {
  font-family: "Pacifico", cursive;
  font-size: 3rem;
  margin-bottom: 1rem;
}

header p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* Date picker */
#datepicker {
  padding: 0.5rem;
  font-size: 1.125rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  background-color: #ecf0f1;
  color: var(--text-dark);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

#datepicker:focus {
  outline: none;
  background-color: #fff;
  color: var(--text-dark);
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
  transform: scale(1.02);
}

/* Current Day */
#currentDay {
  font-size: 1.125rem;
  color: var(--text-light);
  font-weight: bold;
  margin-top: 1rem;
}

/* Select Date */
#select-date {
  font-size: 1.25rem;
}

/* Header Info Text */
.info {
  font-size: 1rem;
  color: var(--text-muted);
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

/* Container */
.container {
  width: 1200px;
  background-color: var(--text-light);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Time Block */
.time-block {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.hour {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: right;
  background-color: var(--primary-color);
  color: var(--text-light);
  padding: 1.5rem;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  margin-right: 1rem;
  border-right: 2px solid var(--secondary-color);
}

/* Save Button */
.saveBtn {
  background-color: var(--success-color);
  color: var(--text-light);
  padding: 1.5rem;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.saveBtn i {
  transition: transform 0.2s ease-in-out;
}

.saveBtn:hover {
  background-color: var(--success-hover);
  box-shadow: 0 0 10px rgba(46, 204, 113, 0.5);
}

.saveBtn:hover i {
  transform: scale(1.2);
}

/* Description */
.description {
  flex: 1;
  background: #ecf0f1;
  border: 1px solid #bdc3c7;
  padding: 1.5rem;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  resize: none;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.description:hover {
  background-color: #cfd8e8;
  border-color: #748ba4;
}

.description:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
}

/* Past, Present, Future */
.past .description {
  background-color: #f0f0f0;
  color: #888;
}

.present .description {
  background-color: #ffcccb;
  color: var(--text-dark);
}

.future .description {
  background-color: #c7ecc7;
  color: var(--text-dark);
}

/* Clear Tasks Button */
.clearTasks {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.btn-danger {
  margin-top: 3rem;
  margin-bottom: 5rem;
  background-color: var(--danger-color);
  color: var(--text-light);
  padding: 1rem 3rem;
  border-radius: 5px;
  margin-right: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.btn-danger:hover {
  background-color: var(--danger-hover);
}

/* Confirmation Messages */
#confirm-tasks-clear,
#confirm-add,
#confirm-clear {
  text-align: center;
  margin: 1rem 0;
  font-size: 1.125rem;
  color: var(--info-color);
}

/* Footer */
footer {
  border-top: 5px solid var(--secondary-color);
  background-color: var(--primary-color);
  padding: 2rem 0;
}

.footer-container {
  color: var(--text-light);
  padding: 20px;
}

.footer-container a {
  color: var(--text-light);
  text-decoration: none;
}

.footer-container a:hover {
  text-decoration: underline;
  color: var(--link-hover);
}

/* Responsive */
@media (max-width: 768px) {
  /* Header */
  header {
    padding: 20px;
  }

  header h1 {
    font-size: 2em;
    margin-bottom: 5px;
  }

  header p {
    font-size: 1em;
    margin-bottom: 10px;
  }

  /* Time Blocks */
  .container {
    width: 100%;
  }

  .hour {
    text-align: left;
    font-size: 0.6em;
    padding: 0.7rem;
  }

  .description {
    padding: 3px;
  }

  /* Save Button */
  .saveBtn {
    padding: 10px;
  }

  /* Clear Tasks Button */
  .clearTasks {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .btn-danger {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0;
  }
}
